<h><strong> Articles Listing Page </strong> </h>
<br/>
<br/>
<button><%= link_to 'Create New Article', new_article_path %></button>
<br/>
<br/>
<table>
  <thead>
  <tr>
    <th class="text-center">Title</th>
    <th class="text-center">Description</th>
    <th>Phone_number</th>
    <th>Created_at</th>
    <th>Updated_at</th>

    <th colspan="3" class="text-center">Action</th>
  </tr>
  </thead>

  <tbody>
   <% @articles.each do |article| %>
   <tr>
    <td><%= article.title %></td>
    <td><%= article.description %></td>
     <td><%= article.phone_number %></td>
     <td><%= article.created_at.to_date %></td>
     <td><%= article.updated_at.to_date %></td>

     <td><%= link_to '<i class="glyphicon glyphicon-eye-open"></i>'.html_safe, article_path(article.id), class: 'btn btn-default' %></td>
     <td><%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_article_path(article.id), class: 'btn btn-default' %></td>
     <td><%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, article_path(article.id), method: :delete, class: 'btn btn-default',data: {confirm: "Are you sure?"} %></td>
   </tr>
   <% end %>
  </tbody>
</table>

<br/>
<br/>

