<!DOCTYPE html>
<html>
<style>
    table, th, td {
        border:2px solid black;
    }
    h {
        padding-bottom: 4rem;
        margin-left: 300px;
    }

    h1 {
        padding-top: 1rem;
        margin-left: 300px;
    }
    div {
        color: darkgreen;
    }


</style>


  <head>
    <title>ProjectRb</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
  <% flash.each do |name, msg| %>
    <div1 class="alert alert-success">
    <%= msg %>
    </div1>
    <br/>
    <br/>
  <% end %>
  </div>

  <%= yield %>
  <script src="bootstrap-editable/js/bootstrap-editable.js"></script>
  </body>
</html>
